.login{
    background:white;
    opacity:0.9;
    border: 1px solid grey;
    width:30vw;
    height:40vh;
    display: table;
    border-radius:1vw;
    padding:10vh;
    text-align: center;
    margin: auto;
    margin-top:10vh;
}

h3.title{
    background:none;
    border: none;
}


.signup_info:hover{
    cursor:pointer;
    color:cadetblue;
}

.errorInfo{
    margin:0;
    padding:0;
    color:red;
}
.form-container{
    width: 40vh;
    margin: auto;
}
.form-group label{
    float: left;
}
.errorLabel{
    color: red;
    float: left;
}