.new-booking{
    border: 1px solid grey;
    width:30vw;
    height:40vh;
    display: table;
    border-radius:1vw;
    padding:10vh;
    text-align: center;
    margin: auto;
    margin-top:10px;
  }
  .upcomingApt{
    width: 100%;
    display: table;
    text-align: center;
    margin-top:15px;
    display: none;
  }
  .noClass{
    width: 100%;
    display: table;
    text-align: center;
    margin-top:15px;  
  }
  .showUpcomming{
    width: 350px;
    height: 70px;
    margin-left:auto;
    margin-right: auto;

  }
  .btnWrapper{
    width: 100%;
    height: 80px;;
    text-align: center;
    margin-top: 20px;;
  }

  .accordion{
    width: 100%;
    display: table;
  }