.card{
    width: 70vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 1vh 0 2vh 1vw;
  }
  
  div.card div.header {
    width: 70vw;
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 40px;
  }
  
  div.card div.container {
    padding: 10px;
    width: 70vw;
  }

div.card:hover{
    width: 70vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 white;
    text-align: center;
    margin: 1vh 0 2vh 1vw;
    cursor: pointer;
  }

  div.card:hover div.header{
    width: 70vw;
   background-color:rgba(0, 0, 0, 0.2);
  }

  .accordion .card .collapse.show .card-body{
    width:100vw;
  }